body {
	text-align: center;
	background-color: #B03E3E;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.album{
	margin: .5em;
  	min-width: 20em;
 	max-width: 35em;
}

.form{
	max-width: 50%;
	max-height: 50em;
	margin: auto;
  	margin-top: 1em;
  	padding: 1em;
  	background-color: white;
  	border: 1em solid #353535;
  	border-radius: 15%;
  
}

#output-records{
  	margin-top: 6em;
}